body {
  padding-top: 70px;
  background-color:lightskyblue
}


h1.font-weight-light{

  color: whitesmoke;
  font: bolder;
  font-family: Arial, Helvetica, sans-serif;
  border-style: solid;
  border-color: black;
}

p {
  color: black;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  margin: 1rem;
  
} 

.navbar{

  background-color:  black;
}


footer
{
  background-color: black;
  position: fixed;
            padding: 10px 10px 0px 10px;
            bottom: 0;
            width: 100%;
            /* Height of the footer*/ 
            height: 30px;

}


.bg{ 

  background-color: black;
  margin: 2rem;


}

  

.img-fluid{
  height: 200px;
    border-radius: 50%;
    border: 5px solid black
  
}

.img-fluid{

  margin: 1rem;

  
}


.img-fluid:hover {
  transform: scale(1.3);
  }





  

.navbar-brand

{

  font-size: 25px;

font-family: Arial, Helvetica, sans-serif;

}

.nav-link
{

  font-size: 22px;
}

.btn-primary{

  margin: 1rem;

}

.p4{

color: whitesmoke;
}

.text{

  font-size: 20px;
  color: whitesmoke;
}

h6{
  font-size: 40px;
}
